* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    font-size: calc(10px + 2vmin);
    color: #fff;
}
.drag-n-drop {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    height: 100%;
    width: 100%;
    padding: .5rem;
    gap: .5rem;
    align-items: start;
}

.dnd-group {
    background: #49505e;
    border-radius: 5px;
    padding: .5rem;
}
.dnd-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background: #fff;
    min-height: 150px;
    color: #282c34;
    border-radius: 5px;
}
.dnd-item:not(:last-of-type) {
    margin-bottom: .5rem;
}
.current {
    background: #282c34;
}